<h2>Welcome back, <%= current_user.employee.proper_name %></h2>
<br><br><br><br>
<div class="row">
	<div class="span5">
		<h3>Active Stores</h3>
			<table class="table table-striped">
				<thead>
			    <tr>
			      <th>Store Name</th>
						<th class="centered"># Current Employees</th>
						<th class="centered"># Shift Hours</th>
			      <th>&nbsp;</th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @active_stores.each do |store| %>
			      <tr>
			        <td><%= link_to store.name, store_path(store) %></td>
							<td class="centered"><%= store.employees.size %></td>
							<td class="centered"><%= store.store_shift_hours %></td>
			        <td>
								<%= link_to raw("<i class='icon-file'></i> Assign a employee"), assignment_path(:new), :class => 'btn btn-mini' %>
			        </td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
	</div>

	<div class="span4">
		<h3>Star Employees</h3>
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>Name</th>
						<th class="centered">Hours worked</th>
			      <th>Store</th>
			    </tr>
			  </thead>
			  <tbody>
			    <%# @active_employees.star_employees.each do |employee| %>
			    <% @star_employees.each do |employee| %>
			      <tr>
			        <td><%= link_to employee.name, employee_path(employee) %></td>
							<td class="centered"><%= employee.employee_hours %></td>
			        <td><%= link_to employee.current_assignment.store.name, store_path(employee.current_assignment.store) unless employee.current_assignment.nil? %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			<%# ------------------------------------paginate!------------------------------------ %>
	</div>

	<div class="span3">
		<h3>Quicklinks</h3>
			<table class="table table-striped">
	      <li><%= link_to "Add New Employee", new_employee_path %></li>
	      <li><%= link_to "Add New Job", new_job_path %></li>
	      <li><%= link_to "Add New Shift", new_shift_path %></li>
	      <br><br>
			</table>
			<p align="right">
	      <%= form_tag(search_path) do %>
	        <%= text_field_tag('query', '', :size => 12) %>
	        <%= submit_tag('Find') %>
	      <% end %>
	    </p>
	</div>