<h2>Welcome back, <%= link_to current_user.employee.proper_name, employee_path(current_user.employee) %></h2>
<h3>Store: <%= @current_store.name %></h3>
<br><br><br><br>
<div class="row">
	<div class="span5">
		<h3>Current Employees</h3>
			<table class="table table-striped">
				<thead>
			    <tr>
			      <th>Name</th>
						<th class="centered"># Shift Hours</th>
						<th>Last Shift</th>
			      <th>&nbsp;</th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @current_assignments.each do |assign| %>
			    	<% unless current_user.employee.current_assignment.nil? %>
				    	<% if assign.store.name == current_user.employee.current_assignment.store.name %>
					      <tr>
					        <td><%= link_to assign.employee.name, employee_path(assign.employee) %></td>
									<td class="centered"><%= assign.employee.employee_hours %></td>
									<td><%= assign.shifts.completed.chronological.reverse[0].date unless assign.shifts.completed.chronological.reverse[0].nil? %></td>
					        <td>
										<%= link_to raw("<i class='icon-file'></i> Add Shift"), new_shift_path(:id => assign.id, :from => 'assignment' ), :class => 'btn btn-mini' %>
					        </td>
					      </tr>
					    <% end %>
				    <% end %>
			    <% end %>
			  </tbody>
			</table>
		<%= will_paginate @current_assignments, :previous_label => "<&nbsp;", :next_label => "&nbsp;>" %>
	</div>

	<div class="span3">
		<h3>Today's Scheduled Shifts</h3>
			<% if @todays_shifts.empty? %>
				<br><h4>There are no scheduled shifts for today.</h4>
			<% else %>
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th>Employee</th>
							<th>Start Time</th>
				      <th>&nbsp;</th>
				    </tr>
				  </thead>
				  <tbody>
				    <% @todays_shifts.each do |shift| %>
				      <tr>
				        <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
				        <td><%= shift.start_time.strftime("%l:%M %p") %></td>
								<td>
									<%= link_to raw("<i class='icon-file'></i> Edit"), edit_shift_path(shift), :class => 'btn btn-mini' %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			<% end %>
	</div>

	<div class="span4">
		<h3>Unrecorded Shifts</h3>
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>Employee</th>
			      <th>Date</th>
						<th>Start Time</th>
			      <th>&nbsp;</th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @incomplete_shifts.each do |shift| %>
			      <tr>
			        <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
			        <td><%= shift.date.strftime("%m/%d/%y") %></td>
			        <td><%= shift.start_time.strftime("%l:%M %p") %></td>
							<td>
								<%= link_to raw("<i class='icon-file'></i> Edit"), edit_shift_path(shift), :class => 'btn btn-mini' %>
			        </td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			<%= will_paginate @incomplete_shifts, :previous_label => "<&nbsp;", :next_label => "&nbsp;>" %>
	</div>
</div>