<fieldset>
  <legend><%= controller.action_name.capitalize %> Job</legend>

	<% for job in Job.active.alphabetical %>
		<%= check_box_tag "Shift[jobs_id][]", job.id, @shift.jobs.include?(job) %>
		<%= job.name %>
	<% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', shifts_path, :class => 'btn' %>
  </div>
</fieldset>