<%= simple_form_for @shift, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Shift</legend>

  	<%= f.input :assignment_id, :collection => get_assignment_options, :include_blank => true %>
		<%= f.input :date, :label => "Date", :as => :date, :start_year => Date.today.year, :end_year => Date.today.year - 1, :order => [:month, :day, :year] %>
		<%= f.input :start_time, :label => "Start Time", :as => :time, :minute_step => 15, :ampm => true %>
		
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', shifts_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>