<br />
<p>
  <b>Store</b>: <%= link_to @shift.assignment.store.name, store_path(@shift.assignment.store) %>
</p>

<p>
  <b>Employee</b>: <%= link_to @shift.employee.name, employee_path(@shift.employee) %>
</p>

<p>
  <b>Date</b>: <%= @shift.date.strftime("%m/%d/%y") %>
</p>

<p>
  <b>Start time</b>: <%= @shift.start_time.strftime("%l:%M %p") %>
</p>

<p>
	<b>End time</b>: 
	<% if @shift.end_time.nil? %>
		&nbsp;&nbsp;<em>TBD</em>
	<% else %>
  	<%= @shift.end_time.strftime("%l:%M %p") %>
	<% end %>
</p>

<p>
  <b>Notes</b>: <%= @shift.notes %>
</p>